<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e9e4fdf77e.js" crossorigin="anonymous"></script>
    <!-- My CSS -->
    <link rel="stylesheet" href="css/root.css">
    <title>Settings</title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Bootstrap header -->
    <header class="p-3 text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img class="logo" src="images/gamezone-logo .png" width="150" height="auto" alt="" class="d-inline-block align-middle mr-2">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li class="nav-item"><a href="/settings" class="nav-link px-2 text-white">Settings</a></li>
              <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">About</a></li>
            </ul>
    
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2"  onclick="window.location.href='login'">Login</button>
              <button type="button" class="btn btn-warning"  onclick="window.location.href='register'">Register</button>
            </div>
          </div>
        </div>
      </header> 
    <!-- Main content -->
    <main class="az-main-settings d-flex align-items-center">
        <div class="container">
            <!-- titles -->
            <div class="row mt-4">
                <div class="col">
                    <h2 class="text-center heading">SETTINGS</h2>
                    <h3 class="text-center sub-heading">Adjust your settings</h3>
                </div>
                <div class="col">
                    <h2 class="text-center heading">EDIT PROFILE</h2>
                    <h3 class="text-center sub-heading">Adjust yout profile</h3>
                </div>
            </div>
            <!-- content -->
            <div class="row mt-4">
                <!-- settings-content -->
                <div class="col">
                    <div class="container">
                        <!-- deze form zal data versturen naar backend -->
                        <form class="d-flex flex-column align-items-center" action="/" method="GET">
                            <div class="az-slidecontainer-volume">
                                <h4><strong>SOUND EFFECT</strong></h4>
                                <input type="range" class="form-range" min="1" max="100" id="range-volume" disabled>
                            </div>
                    
                            <div class="az-slidecontainer-verlichting">
                                <h4><strong>BRIGHTNESS</strong></h4>
                                <input type="range" class="form-range custom-range" min="1" max="100" id="range-brightness">
                            </div>

                            <div class="az-level-container">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="beginner" id="level-beginner" checked>
                                    <label class="form-check-label" for="level-beginner">Beginner</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="professional" id="level-pro">
                                    <label class="form-check-label" for="level-pro">Professional</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="legend" id="level-legend">
                                    <label class="form-check-label" for="level-legend">Legend</label>
                                </div>
                            </div>                      
                        </form>
                    </div>
                </div>
                <!-- feedback content -->
                <div class="col">
                    <div class="row">
                        <form action="" method="POST">
                          <div class="form-floating mb-3 mx-sm-5">
                            <input type="email" class="form-control" id="email" placeholder="John">
                            <label class="label-signup" for="email">Email address</label>
                          </div>
                          <div class="form-floating mb-3 mx-sm-5">
                            <input type="text" class="form-control" id="username" placeholder="John">
                            <label class="label-signup" for="username">Username</label>
                          </div>
                          <div class="form-floating mb-3 mx-sm-5">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                            <label class="label-signup" for="password">Password</label>
                          </div>
                          <div class="form-floating mb-4 mx-sm-5">
                            <input type="password" class="form-control" id="re-password" placeholder="Password">
                            <label class="label-signup" for="re-password">Confirm password</label>
                          </div>
                         <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">change</button>
                         </div>
                        </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer-->
    <footer class="footer mt-auto az-footer bg-dark">
        <div class="container">
            <span class="az-footer-text">IT-Project &#124; Adil Ziani - Achraf Ahrirou - Salih Komut - Mamadou Barry &vert; <a class="az-footer-link" href="https://www.ap.be/privacy-en-cookieverklaring" target="_blank">Privacy & Cookieverklaring</a></span>
        </div>
    </footer>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>