<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/e9e4fdf77e.js" crossorigin="anonymous"></script>
  <!-- My CSS -->
  <link rel="stylesheet" href="css/root.css">
  <title>Spel</title>
</head>
  <!-- Bootstrap header -->
  <header class="p-3 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="logo" src="images/gamezone-logo .png" width="150" height="auto" alt="" class="d-inline-block align-middle mr-2">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li class="nav-item"><a href="/settings" class="nav-link px-2 text-white">Settings</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2"  onclick="window.location.href='login'">Login</button>
          <button type="button" class="btn btn-warning"  onclick="window.location.href='register'">Register</button>
        </div>
      </div>
    </div>
  </header> 
  
  <main class="main-spel">
    <div class="container">
      <h1 id="question" class="text-center mb-3 mt-5"><!-- via JS --></h1>
      <!-- via javascript wordt hier een afbeelding getoond -->
      <div id="image-container">
        <img id="club-image" src="" draggable="true" ondragstart="drag(event)" />
      </div>
      <div id="score-container">
        <span id="score"><!-- via JS -->1</span>
      </div>
      <!-- via JS zal er hier feedback komen -->
      <div class="spel-feedback-container text-center mt-5" hidden>
        <h2 id="feedback-heading"><!-- via JS --></h2>
        <p id="feedback-text"><!-- via JS --></p>
      </div>
    </div>
    
    <div class="image-container-parent container mt-5 mb-auto flex-parent">
      <!-- 3 containers naast elkaar -->
      <div class="league-container" ondragover="allowDrop(event)">
        <div class="league-body"></div>
        <div class="league-text">
          <p><!-- via javascript komt hier de naam van de league --></p>
        </div>
      </div>
      <div class="league-container" ondragover="allowDrop(event)">
        <div class="league-body"></div>
        <div class="league-text">
          <p><!-- via javascript komt hier de naam van de league --></p>
        </div> 
      </div>
      <div class="league-container" ondragover="allowDrop(event)">
        <div class="league-body"></div>
        <div class="league-text">
          <p><!-- via javascript komt hier de naam van de league --></p>
        </div>
      </div>
    </div>

    <!-- select-input voor nog 3 andere clubs te raden van een bepaalde league -->
    <div class="club-select-container" hidden>
      <form id="clubs-form" action="/spel" method="get">
        <fieldset>
          <select id="clubs-select" class="form-select form-select-lg mb-3" size="6" multiple>
            <% clubs.forEach(club => { %>
              <option value="<%= club.name %>"><%= club.name %></option>
            <% }); %>
          </select>
          <div class="invalid-feedback">
            Please select three clubs
          </div>
          <button id="threeLeaguesBtn" type="submit" class="btn btn-primary mt-3">Send</button>
        </fieldset>
      </form>
    </div>

    <button id="stopBtn" type="button" class="btn btn-primary mt-5" style="width: 50%;">Stop playing</button>
  </main>

  <!-- <footer class="footer az-footer spel-footer">
      <div class="container">
        <span class="az-footer-text">IT-Project &#124; Adil Ziani - Achraf Ahrirou - Salih Komut - Mamadou Barry &vert; <a class="az-footer-link" href="https://www.ap.be/privacy-en-cookieverklaring" target="_blank">Privacy & Cookieverklaring</a></span>
      </div>
  </footer> -->

  <script>
    let clubs = <%- clubsStringified %>;
    let leagues = <%- leagues %>;
  </script>
  <script src="js/spel.js"></script>
  <script src="js/getdata.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </html>

