@font-face {
  src: url("../fonts/EASPORTS15.ttf");
  font-family: ea-sports;
}
* {
box-sizing: border-box;
font-family: ea-sports; 
color: #EDEDED;
margin: 0;
}
.nav-item > a {
  font-family: "Circular-Std Book-Italic", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: yellow;
}
body {
background-color: #212529;
overflow-y: scroll;
} 
.logo {
  margin-right: 20px;
}
.btn-warning, .btn-primary {
background-color: rgb(221, 87, 87);
border-color: rgb(221, 87, 87);
color: white;
}
.btn-warning:hover, .btn-primary:hover {
color: white;
background-color: rgb(250, 100, 87);
border-color: rgb(221, 87, 87);
}
.form-check-input:checked {
background-color: rgb(250, 100, 87);
border-color: rgb(221, 87, 87);
}
.custom-range::-webkit-slider-thumb, .custom-range::-webkit-slider-thumb:active {
background: rgb(250, 100, 87);
}

.custom-range::-moz-range-thumb {
background: rgb(250, 100, 87);
}

.custom-range::-ms-thumb {
background: rgb(250, 100, 87);
}
.custom-range::-webkit-slider-thumb:active {
background-color: rgb(250, 100, 87);
}
.custom-range::-webkit-slider-thumb {
box-shadow: rgb(250, 100, 87);
}

/* Custom styles for settings */
.az-level-container {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;
color: white;
padding-top: 30px;
}
.az-main-settings {
height: 100%;
}
.heading {
filter: drop-shadow(2px 4px 8px #585858);
font-size: 50px;
}
.sub-heading {
filter: drop-shadow(2px 4px 8px #585858);
font-size: 20px;
}
.az-footer {
text-align: center;
padding: 15px;
}
.az-footer-text {
color: #EDEDED !important;
}
.az-footer-link {
color: gray; 
}
.az-footer-link:hover {
color: rgb(221, 87, 87);
}

/* Custom styles for home */
.body-index {
display: flex;
justify-content: center;
background-image:url(../images/MicrosoftTeams-image.png);
/* background-repeat: no-repeat; Do not repeat the image */
background-size: cover;
background-position: center;
}
.card-text {
color: black;
}
fifa-card {
cursor: grab;
}
.disable-card {
cursor: not-allowed;
}
.disable-card img {
opacity: 0.7;
}
.card-img-top {
height: 150px;
}
.main-index {
margin: auto;
}

/* Custom styles for about us page */
.main-about {
margin: auto;
}
.introduction-text {
text-align: left;
}
/* Custom styles for register page*/
.main-register {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
}
.label-signup {
color: #212529;
}
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Custom styles for spel page */
.btn-outline-primary {
  border-color: rgb(221, 87, 87);
  color: rgb(221, 87, 87);
}
.btn-outline-primary:hover {
  border-color: rgb(221, 87, 87);
  background-color: rgb(221, 87, 87);
  color: white;
}
.flex-parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
#image-container {
  display: flex;
  justify-content: center;
  min-height: 140px;
}
#score-container {
  display: flex;
  justify-content: flex-end;
}
.league-container {
  width: 18rem; 
  position: relative;
  border: 1px solid rgb(221, 87, 87);
  border-radius: 25px;
  overflow: hidden;
  margin: 10px;
}
.league-body {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.league-text {
  text-align: center;
}
.league-text > p {
  background-color: rgb(221, 87, 87);
  color: #212529;
  padding: 1rem;
  margin-bottom: 0;
}
.main-spel {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.spel-footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.spel-feedback-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  border-radius: 25px;
  margin: 0 auto;
}
.spel-feedback-container > h2, .spel-feedback-container > p {
  color: #212529;
}
#stopBtn {
  align-self: center;
  padding: 0.5rem;
}
.club-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
option {
  color: #212529;
  padding: 0.5rem;
}
#threeLeaguesBtn {
  align-self: center;
  padding: 0.5rem;
  width: 100%;
}