 @font-face{
    src: url(/fonts/EASPORTS15.ttf);
    font-family: ea-sports;
}
*{
    font-family: ea-sports; 
    color: white;
} 
body{
    height: 100vh;
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 
    "head head head"
    "header header "
     "main main main";  
}


/* nav{
    grid-area: 'head';
    position: fixed;
}
.container{
    display: inline-block;
    cursor: pointer;
    position: fixed;
}

.icon-container{
    position: fixed;
    right: 10px;
    top: 5px;
    width: 35px;
    height: 5px;
    
}

img{
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 100%;
    position: right;
    top: 8px;
    right: 16px;

}

 /* titel */

.hoofdtitel{
    grid-area: 'header';
    text-align: center;
    font-size: 30px;
    
}

.text{
    margin: 3%;
    background-color: rgb(221, 87, 87,0.3);
    padding: 5%;
    font-size: 20px;
}
@media screen and (max-width: 600px){
    body{
        height: 100%;
        overflow: auto;
    }
    .text{
        font-size: 12px;
    }
    footer{
    
        display: flex;
        justify-content: center;
        text-align: center;
        color: yellow;
        font-size: 12px;
        /* padding-top: 100px; */
    }
}
footer{
    
    display: flex;
    justify-content: center;
    text-align: center;
    color: yellow;
    font-size: 15px;
    padding-top: 100px;
}

