@font-face{
    src: url(/fonts/EASPORTS15.ttf);
    font-family: ea-sports;
}

*{
    font-family: ea-sports;
    color: white;
    
}

body{
    height: 100%;
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 
    "head head head"
    "header header "
     "main main main";  
}


/* navigatie  */
}
.container{
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.icon-container{
   position: fixed;
   right: 10px;
   top: 5px;
   width: 35px;
   height: 5px;
}

.container-game{
    position: relative;
    width: auto;
    display: grid;
}


.user-image{
   position: relative;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 100%;
    position: right;
    top: 8px;
    right: 16px;
    border-radius: 50%;
}
.user-image:hover{
   box-shadow: 0px 0px 3px 3px whitesmoke;
}
/* body */
.hoofdtitel{
    grid-area: 'header'; 
}

.titel_index{
    text-align: center;
    font-size: 50px; 
}
/* main */
.overzicht{  
   width: auto;
   height: auto;
    padding: 10%;
    grid-area: 'main';
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.activiteiten{
    background-color: rgb(221, 87, 87);
    border-radius: 5px;
    font-size: 40px;
}
@media screen and (max-width: 600px){
   nav{
    width: 100%;
   }
   
   
    body{
       height: 100%;
       
   }
   .activiteiten{
       font-size: 12PX;
   }
}
footer{
    
    display: flex;
    justify-content: center;
    text-align: center;
    color: yellow;
    font-size: 12px;
    padding-top: 100px;
}



    

