@font-face{
    src: url(/fonts/EASPORTS15.ttf);
    font-family: ea-sports;
}
*{
    font-family: ea-sports; 
    color: white;
    margin: 0;
    
}
.mb-html {
    height: 100%;
}
.mb-body {
    background-image: url("../images/log_in.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mb-home {
    margin-left: 20px;
    position:relative;
    top: 10px;
    font-size: 20px;
}
.mb-icon-container-algemeen {
    position: fixed;
    right: 0px;
    top: 5px;
    width: 35px;
    height: 5px;
}

.mb-user-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 100%;
    position: right;
    top: 8px;
    right: 16px;
    border-radius: 50%;
}

.mb-user-image:hover {
    box-shadow: 0px 0px 3px 3px whitesmoke;
}
.h1-login {
    margin-top: 50px;
    font-size: 100px;
}
.h2-login {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    filter: drop-shadow(4px 8px 16px #585858);
}
.mb-fieldset {
    margin: auto;
    width: 15%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
}
.mb-head {
    justify-content: center;
    text-align: center;
}
.mb-input, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
  }
  .mb-checkbox{
    color: black;
    font-size: 14px;
    font-family: italic;
    padding-left: 5px;
  }
  .mb-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .mb-submit {
    background-color: rgb(221, 87, 87);
  }
  #forgot {
    color: black;
    font-size: 10px;
  }
  .mb-create-button {
    padding-top: 10px;
    text-align: center;
  }
  .mb-color-button {
      background-color: rgb(221, 87, 87);
      width: 16%;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      
  }
  .mb-color-button:hover {
    box-shadow: 0px 0px 3px 3px whitesmoke;
  }


