@font-face{
    src: url(/fonts/EASPORTS15.ttf);
    font-family: ea-sports;
}
*{
    font-family: ea-sports; 
    color: white;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background-image: url("../images/log_in.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: center;
    height: 100%;
}
h1 {
    margin-top: 50px;
    font-size: 50px;
}
h2 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}
.mb-head {
    justify-content: center;
    text-align: center;
}
.mb-middle-container {
    align-items: center;
    text-align: center;
    justify-content: center;
}
