@font-face{
  src: url("../assets/fonts/EASPORTS15.ttf");
  font-family: ea-sports;
}
* {
  box-sizing: border-box;
  font-family: ea-sports; 
  color: #EDEDED;
  margin: 0;
}
body {
  background-color: #212529;
  overflow-y: scroll;
} 

.btn-warning, .btn-primary {
  background-color: rgb(221, 87, 87);
  border-color: rgb(221, 87, 87);
  color: white;
}
.btn-warning:hover, .btn-primary:hover {
  color: white;
  background-color: rgb(250, 100, 87);
  border-color: rgb(221, 87, 87);
}
.form-check-input:checked {
    background-color: rgb(250, 100, 87);
    border-color: rgb(221, 87, 87);
}
.custom-range::-webkit-slider-thumb, .custom-range::-webkit-slider-thumb:active {
  background: rgb(250, 100, 87);
}

.custom-range::-moz-range-thumb {
  background: rgb(250, 100, 87);
}

.custom-range::-ms-thumb {
  background: rgb(250, 100, 87);
}
.custom-range::-webkit-slider-thumb:active {
  background-color: rgb(250, 100, 87);
}
.custom-range::-webkit-slider-thumb {
  box-shadow: rgb(250, 100, 87);
}

/* Custom styles for settings */
.az-level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  padding-top: 30px;
}
.az-main-settings {
  height: 100%;
}
.heading {
  filter: drop-shadow(2px 4px 8px #585858);
  font-size: 50px;
}
.sub-heading {
  filter: drop-shadow(2px 4px 8px #585858);
  font-size: 20px;
}
.az-footer {
  text-align: center;
  padding: 15px;
}
.az-footer-text {
  color: #EDEDED !important;
}
.az-footer-link {
  color: gray; 
}
.az-footer-link:hover {
  color: rgb(221, 87, 87);
}

/* Custom styles for home */
.body-index {
  display: flex;
  justify-content: center;
  background-image:url(../images/MicrosoftTeams-image.png);
  /* background-repeat: no-repeat; Do not repeat the image */
  background-size: cover;
  background-position: center;
}
.card-text {
  color: black;
}
fifa-card {
  cursor: grab;
}
.disable-card {
  cursor: not-allowed;
}
.disable-card img {
  opacity: 0.7;
}
.card-img-top {
  height: 150px;
}
.main-index {
  margin: auto;
}

/* Custom styles for about us page */
.main-about {
  margin: auto;
}
.introduction-text {
  text-align: left;
}
/* Custom styles for register page*/
.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.label-signup {
  color: #212529;
}