@font-face{
    src: url(/fonts/EASPORTS15.ttf);
    font-family: ea-sports;
}
*{
    font-family: ea-sports; 
    color: white;
    margin: 0;
}
.signUp-html, .mb-signUp-body {
    height: 100%;
}
.mb-signUp-body {
    background-image: url("../images/log_in.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-position: center;
    height: 100%;
}
.mb-a {
    margin-left: 20px;
    position:relative;
    top: 10px;
    font-size: 20px;
}
.mb-icon-container-algemeen {
    position: fixed;
    right: 0px;
    top: 10px;
    width: 35px;
    height: 5px;
}

.mb-user-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-right: 100%;
    position: right;
    top: 8px;
    right: 16px;
    border-radius: 50%;
}

.mb-user-image:hover {
    box-shadow: 0px 0px 3px 3px whitesmoke;
}
.mb-signUp-head {
    justify-content: center;
    text-align: center;
}
.signUp-h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 50px;
}
.signUp-h2 {
    font-size: 15px;
}
.mb-a:hover {
    color: rgb(221, 87, 87);
}
.mb-input-container {
    margin: auto;
    width: 50%;
    padding: 15px;
    margin-top: 40px;
    text-align: center;
}
.mb-input, select, textarea {
    width: 40%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
  }
.mb-label {
    margin: 3px;
    display: block;
}
.mb-register-button {
    padding-top: 10px;
    text-align: center;
}
.mb-color-register-button {
    background-color: rgb(221, 87, 87);
    width: 16%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    text-align: center;
    color: white;
 }
 #footer :hover{
  color: rgb(221, 87, 87);
}