html {
    color: yellow;
    background-color: #141414;
    height: 100%;
    width: 100%;
    background-image: url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    margin: 2rem;
    height: 100%;
    width: 100%;
    margin: 2rem;
}

body {
    grid-area: body;
    margin: 2rem;
}

fieldset {
    height: 100%;
    width: 100%;
    border: none;
}

.username {
    display: flex;
    justify-content: center;
    margin: 1rem;
    grid-area: username;
}

.password {
    display: flex;
    justify-content: center;
    margin: 1rem;
    grid-area: password;
}

.vgpasswordlink {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    grid-area: vgpassword;
}

.button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    grid-area: button;
}

.body-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 'username username' 'password password' 'vgpassword vgpassword' 'button button';
    grid-gap: 2rem;
    background-color: none;
    padding: 2rem;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 0;
}

a {
    color: yellow;
}