*{
    background-color: black;
     font-family: 'Roboto', sans-serif;
 }

 .container{
     display: inline-block;
     cursor: pointer;
     border-radius: 100%;
 }

 img{
     max-width: 100%;
     height: auto;
     border-radius: 50%;
 }

 .icon-container{
    position: fixed;
    right: 10px;
    top: 5px;
    width: 35px;
    height: 5px;
 }

 .container-game{
     position: relative;
     width: auto;
     display: grid;
 }


 .user-image{
    position: relative;
     width: 100%;
     height: auto;
     margin-left: 0%;
     margin-right: 100%;
     position: right;
     top: 8px;
     right: 16px;
     border-radius: 50%;
 }
 .user-image:hover{
    box-shadow: 0px 0px 3px 3px whitesmoke;
 }

 h1 {
    position: relative;
    width: auto;
    height: auto;
    color: goldenrod;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid goldenrod;
    display: block;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 150%;
    background-color:black;
}

p{
    position: relative;
    text-align: center;
}

 .bar1, .bar2, .bar3{
     position: relative;
     width: 35px;
     height: 5px;
     background-color:goldenrod;
     margin: 6px 0;
     transition: 0.5s;
 }

 .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .flex-grid-leagues{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto;
  }

  .league{
      position: relative;
      width: fit-content;
      height: auto;
    }

  .club{
      position: relative;
      margin: auto;
      width: auto;
      height: auto;
      
      
  }

  .btn-endgame{
    display: flex;
    margin: auto;
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    
  }

  .btn-endgame span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
  }

  .btn-endgame:hover {
    color: black;
}

.btn-endgame:hover span {
    transform: translateY(0) scale(2);
}

.btn-endgame span:nth-child(1) {
    --n: 1;
}

.btn-endgame span:nth-child(2) {
    --n: 2;
}

.btn-endgame span:nth-child(3) {
    --n: 3;
}

.btn-endgame span:nth-child(4) {
    --n: 4;
}
